@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css");

* {
  text-align: center;
  font-family: "Pretendard", sans-serif;
}

body {
  background-color: #9bbbd4;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a1d1d;
  width: 100%;
  height: 3rem;
}

nav {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1rem;
  color: #3a1d1d;
  font-weight: 500;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dateButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #3a1d1d;
}

.input {
  border: none;
  outline: none;
  text-align: left;
  flex-grow: 1;
}

.inputContainer {
  display: flex;
  border-radius: 1rem;
  width: 20rem;
  padding: 10px;
  margin: 2rem 0 1rem 0;
  background-color: white;
  align-items: center;
  justify-content: center;
  position: relative;
}

.enter {
  display: flex;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #f7e600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  height: 100%;
  max-height: 800px;
  overflow-y: scroll;
}

.todo {
  display: flex;
  align-items: center;
  background-color: #f7e600;
  color: #3a1d1d;
  font-weight: 500;
  font-size: 14px;
  border-radius: 1rem;
  width: 20rem;
  padding: 10px;
  gap: 10px;
}

.todo input[type="checkbox"] {
  appearance: none;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.todo input[type="checkbox"]:checked {
  background-color: #5bd15f;
}

.checkbox:checked::after {
  content: "✓";
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.todo span {
  flex-grow: 1;
  font-size: 14px;
  text-align: left;
}

.delete {
  flex-shrink: 0;
  background: #3a1d1d;
  color: #f7e600;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.delete:hover {
  background: #000000;
}
